{% extends "indexs.html.twig" %}
{% block body %}
<script src="https://kit.fontawesome.com/7574080bc2.js" crossorigin="anonymous"></script>
<table border="1" style="border:1px solid black;margin-left:auto;margin-right:auto;" class="table table-striped table-dark">
<tr>
<th>idreclamation</th>
<th>iduser</th>
<th>nom</th>
<th>username</th>
<th>datereclamation</th>
<th>contenu</th>
<th>supprimer</th>
<th>update</th>
</tr>
{% for i in kk %}
{% if i.iduser == ii %}
    <tr>
    <td>{{i.idreclamation}}</td>
    <td>{{i.iduser}}</td>
{% for j in aa %}
{% if i.iduser == j.iduser %}
<td>{{j.nom}}</td>
<td>{{j.username}}</td>
{% endif %}
{% endfor %}
    
    <td>{{i.datereclamation|date('Y-m-d')}}</td>
    <td>{{i.contenu}}</td>
    <td><a href="{{path('DD18',{id:i.idreclamation})}}" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt"></i> </a></td>
    <td><a href="{{path('updatereclamationclient',{id:i.idreclamation})}}" class="btn btn-primary btn-sm">
                        <i class="fa-solid fa-pen"></i> </a></td>
    </tr>
    {% endif %}
{% endfor %}
<button type="button"><a href="{{path('ajoutcateg')}}">Ajoute</button>

</table>
{% endblock %}