{% extends "indexs.html.twig" %}
{% block body %}
<script src="https://kit.fontawesome.com/7574080bc2.js" crossorigin="anonymous"></script>
<style>
table, tr, td ,th {
  border: 3px solid black;
  padding-left: 20px;  
}
table{
    width:90%;
    height:30%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      margin: auto;
}
tr{
  height:30%;
}
th{
  color:black;
  text-shadow: 3px;
  background-color: #3215;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

</style>
<table>
<tr>
<th>Nom Formation
</th>
<th>Description
</th>
<th>Date Creation
</th>
<th>Duree
</th>
<th>Prix</th>
<th>Modifier</th>
</tr>
{% for i in cc %}
<tr>
<td>
{{i.nomformation}}
</td>
<td>
{{i.description}}
</td>
<td>
{{i.datecreation|date('Y-m-d')}}
</td>
<td>
{{i.duree}}
</td>
<td>
{{i.prix}}
</td>
        <td><a href="{{path('addl',{id:i.idformation})}}">Ajoute au panier</td>
</tr>
{% endfor %}
</table>
</br>
<div class="center">
<button type="button"><a href="{{path('pan-cart')}}">Panier</button>
</div>
{% endblock %}