{% extends 'base.html.twig' %}
{% block search %}
<input type="text" id="search" class="form-control" placeholder="Search User">
<a href="{{path('trie')}}">Trier</a>
{% endblock %}
{% block body %}
<style> table,tr,td,th{border:1px solid black}</style>
<script src="https://kit.fontawesome.com/7574080bc2.js" crossorigin="anonymous"></script>
<fieldset>

<table id="t">
<thead class="thead-dark" >
<tr> 
    <th> IdUser</th>
    <th> Nom</th>
    <th> Username</th> 
    <th> Userpwd</th>
    <th> DateNaissance</th>
    <th> Email</th>
    <th> Role</th>
    <th> Supprimer</th>
    <th> Modifier</th>
</tr>
<tbody id="all">
{% for i in u %}
<tr>
<td>
{{i.iduser}}
</td>
<td>
{{i.nom}}
</td>
<td>
{{i.username}}
</td>
<td>
{{i.userpwd}}
</td>
<td>
{{i.daten|date('Y-m-d')}}
</td>
<td>
{{i.email}}
</td>
<td>
{{i.Role}}
</td>
<td>
<a href="{{path('Deleteuser',{'id':i.iduser})}}"class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
</td>
<td>
<a href="{{path('modifieruser',{'id':i.iduser})}}"<i class="fa-sharp fa-solid fa-pen"></i></a>
</td>
</tr>
{% endfor %}
</tbody>
<tbody id="searchtab">
</tbody>
</table>
</fieldset>
<script
src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<script>
$( document ).ready(function() {$("#search").keyup(function(e){
var value = $(this).val();
$.ajax({
url : "{{ path('searchuser') }}",
type : 'GET',
data: {
'searchValue' : value
},
success : function(retour){
if(retour){
$('#t tbody#searchtab').empty();
$.each(JSON.parse(retour), function(i, obj) {
$('#t tbody#all').hide();
$('#t tbody#searchtab').append( '<tr><td> '+obj.iduser+'</td><td> '+obj.nom+' </td><td> '+obj.username+' </td><td> '+obj.userpwd+' </td><td> '+obj.daten+' </td><td>'+obj.email+' </td><td> '+obj.role+' </td>><td><a href="Deleteuser/'+obj.iduser+'">supprimer</a></td><td><a href="modifieruser/'+obj.iduser+'">modifier</a></td</tr>');
});
}
else
{
$('#t tbody#all').show();
$('#t tbody#searchtab').empty();
$('#t tbody#searchtab').fadeIn('fast');
}
},
});
return false;
});
});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#all tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}


