{% extends 'indexs.html.twig' %}
{% block body %}
{{form_start(f,{'attr':{'novalidate':'novalidate'}})}}
<table>

    <tr>
        <td>{{form_label(f.nomarticle,"Titre")}}</td>
        <td>{{form_widget(f.nomarticle)}}</td>
        <td>{{form_errors(f.nomarticle)}}</td>
    </tr>
    
  
    <tr>
        <td>{{form_label(f.contenu,"Contenu")}}</td>
        <td>{{form_widget(f.contenu)}}</td>
        <td>{{form_errors(f.contenu)}}</td>
    </tr>
    
</table>
{{form_end(f)}}
{% endblock %}