<<<<<<< HEAD
<style>
body{
    background-color: hsla(89, 43%, 51%, 0.3);
}
#form{
   margin:0 auto;
 margin-top:13%;
    width:40%;
    height:30%;
 padding-top: 90px;
 padding-left:300px;
 border: 1px solid #f1f1f1;
 background: #fff;
 box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
 background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                  url("../../media/examples/lizard.png");
}
.required,#form_username,#form_userpwd,#form_Auth{
    margin:15px 0 0 20px;
}
h1{
    position: absolute;
top: 130px; left: 300px;
}
#form_Auth{
     position: relative;
  padding: 10px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(120, 0.5,0, 0.5);
  background-color:#DADBDD;
  margin: 30px 0 0 300px;
  text-decoration: none;
  transition: 1s;
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0004);
}
#form_Auth:hover{
  background: var(--clr);
  box-shadow: 0 0 10px var(--clr),
              0 0 30px var(--clr),
              0 0 60px var(--clr),
              0 0 100px var(--clr);
}

</style>
<h1> Connecter </h1>
{{form(fo)}}

{#<a href="{{path('ajouteuser')}}">Create New Account</a>
<a href="{{path('forgetpwd')}}">Forgotten password?</a>#}
=======
{% extends 'indexs.html.twig' %}
{% block body %}
<fieldset>
<legend><centre><h2><b>Authentification</b></h2></centre></legend><br>
<style>
h2 ,td{color:red;}
fieldset{
margin-top:10px;
margin-left:400px;
margin-right:400px;
margin-buttom:10px;}
</style>
{{form_start(fo,{'attr':{'novalidate':'novalidate'}})}}
<table>
 <tr>
        <td>{{form_label(fo.username,"UserName")}}</td>
        <td>{{form_widget(fo.username)}}</td>
        <td>{{form_errors(fo.username)}}</td>
    </tr>
    
  
    <tr>
        <td>{{form_label(fo.userpwd,"Password")}}</td>
        <td>{{form_widget(fo.userpwd)}}</td>
        <td>{{form_errors(fo.userpwd)}}</td>
    </tr>
</table>
You forget your password ??
<br>
<a href="{{path('forgetpwd')}}">Forgotten password?</a>
<br>
You don't have an account ??
<br>
<a href="{{path('ajouteuser')}}">Create New Account</a>
{{form_end(fo)}}
</fieldset>
{% endblock %}

>>>>>>> ae22cea8f9cdcf653139a274fbefdb0dd0d0e7c5
